  
    .photo {
        background: url('../Graphics/grass_2_scaled.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
    }
    h1.title {
        font-family: 'Open Sans', 'Verdana', sans-serif;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.5em;
        color: white;
    }    
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    
    
    .infomail {
        font-family: 'Open Sans', 'Verdana', sans-serif;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 20px;
        padding: 10px;
    }
    
    .button {
        text-align: center;
        width: 300px;
        margin-bottom: 15px;
        margin-top: 5px;
        font-family: 'Open Sans', 'Verdana', sans-serif;
        border: 1px #e49a22 solid;
        background-color: #e49a22;
        text-align: center;
        line-height: 1.8;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 15px;
        font-size: 20px;
    }
    input.button:hover {
        background-color: #e49a22;
        color:rgb(247, 253, 252);
    }
    .name {
        width: 300px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
    }
    .email {
        width: 300px;
        font-size: 20px;
        text-align: center;
    }
    
        @media (min-width: 575.98px) {
      form {
        flex-wrap: nowrap;
        min-height: 6vh;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 60px; 
        margin-left: 10px;
        margin-right: 10px;
      } 
      .button {
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 10px;
          font-size: 30px;
      } 
      .email {
          margin-top: 0px;
          margin-left: 10px;
      }
      h1.title {
          font-size: 30px;
      }
      .photo {
        height: 400px;
      }
      .name {
          margin-bottom: 0px;
      }
    @media (max-width: 840px) {
        .email {
            margin-left: 0px;
            font-size: 12px;
        }
        .name{
            font-size: 12px;
            margin-bottom: 0px;
        }
        .button {
            margin-left: 0px;
        }
    }
    }
    @media (min-width: 1312.98px) {
        /* .photo {
            height: 400px;
        } */
    }
    
  