.footer {
    /* background: rgb(162, 168, 172); */
    background: white;
    border-top: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vh;
}
.footerLeftSide {
    flex-grow: 6;
}
.footerLeftSide h4 {
    color: rgb(8, 170, 22);
    font-weight: bold;
    font-family: 'Open Sans', 'Verdana', sans-serif;
}
.footerRightSide {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.5);
}
.socialLogo {
    margin-left: 15px;
}

