.footer {
    background: rgb(162, 168, 172);
    border-top: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vh;
}
.foot_nav {
    flex-grow: 6;
}
.foot_nav h4 {
    font-size: 1em;
    color: black;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-weight: bolder;
}
.foot_right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.5);
}
.social_logo {
    margin-left: 15px;
}

