#home {
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    padding: 100px 0px;
    margin: 0px auto;
}
.homeText p {
    padding: 5px 0px;
}
