#home {
    /* background: rgb(180, 228, 180); */
    background: url(../Graphics/grass_2.png) no-repeat;
    background-size: 100% 356px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    padding-top: 56px;
    margin: 0px auto;
    height: 300px;
    overflow: hidden;
}
.homeText {
    flex-grow: 1;
    margin-left: 20px;
}
.homeText p {
    padding: 10px 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.imageContainer {
    flex-grow: 2;
    align-self: baseline;
    justify-self: end;
    position: relative;
}
.pearRight, .pearMiddle, .pearLeft {
    display: none;
}

/* 576px */
@media (min-width: 576px) {
    .imageContainer {
        flex-grow: 2;
        align-self: baseline;
        justify-self: end;
        position: relative;
    }
    .pearRight, .pearMiddle, .pearLeft {
        display: inline;
    }
    .pearRight {
        position: absolute;
        right: 0px;
    }
    .pearMiddle {
        position: absolute;
        top: 25px;
        right: -25px;
    }
    .pearLeft {
        position: absolute;
        top: 50px;
        right: 150px;
    }
}