#home {
    background: url(../Graphics/grass_2.png) no-repeat;
    background-size: 100% 356px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    padding-top: 56px;
    margin: 0px auto;
    height: 300px;
    overflow: hidden;
}
.homeText {
    flex-grow: 1;
    margin-left: 20px;
}
.homeText p {
    display:inline-block;
    padding: 10px 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}
.thirdLine span {
    display: inline-block;
    line-height: 1.5em;
    color: white;
    opacity: 1;
    /* font-size: 20px; */
    -webkit-transition: color 2s, opacity 2s;
    transition: color 2s, opacity 2s;
}
.thirdLine span:hover {
    color: rgb(8, 170, 22);
    opacity: 0.1;
    /* font-size: 10px; */
}
.imageContainer {
    flex-grow: 2;
    align-self: baseline;
    justify-self: end;
    position: relative;
}
.pearRight, .pearMiddle, .pearLeft {
    display: none;
}

/* 576px */
@media (min-width: 576px) {
    .imageContainer {
        flex-grow: 2;
        align-self: baseline;
        justify-self: end;
        position: relative;
    }
    .pearRight, .pearMiddle, .pearLeft {
        display: inline;
    }
    .pearRight {
        position: absolute;
        right: 0px;
    }
    .pearMiddle {
        position: absolute;
        top: 25px;
        right: -25px;
    }
    .pearLeft {
        position: absolute;
        top: 50px;
        right: 150px;
    }
}