    .skills_item {
        border-radius: 10px;
        box-shadow: inset 0 0 10px #0000003f, 0 8px 6px -6px black;
        height: 300px;
        width: 240px;
        margin: 10px 4px;
        padding: 10px 4px;
        background-color: rgb(207, 214, 218); 
    }
    .skill_photo {
        height: 100px;
        width: 100px;
        margin: 20px auto;
    }
    .skill_photo img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    .skill_name {
        font-family: 'Open Sans', 'Verdana', sans-serif;
        text-align: center;
        font-size: 18px;
        margin: 10px auto;
    }
    .skill_knowledge {
        display: flex;
        justify-content: space-between;
        width: 100px;
        margin: 20px auto;
    }
    .skill_knowledge span {
        font-size: 60px;
        line-height: 30px;
        color: rgb(8, 170, 22);
    }
    .skill_dscr {
        height: 80px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        margin: 10px auto;
        padding-bottom: 5px;
        font-family: 'Open Sans', 'Verdana', sans-serif;
    }
    .skills-slider-nav {
        display: flex;
        justify-content: center;
    }
    .skills-slider-nav .active {
        color: #e49a22;
    }
    .skills-slider-nav span {
        font-size: 50px;
        letter-spacing: 20px;
    }
    .skills-slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills-items section {
        display: none;
    }
    .skills-items section:first-child {
        display: block;
    }
    .skills-next-button,
    .skills-prev-button {
        cursor: pointer;
        width: 0; 
        height: 0; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
      .skills-next-button {
        border-left: 20px solid #e49a22;
        margin-left: 20px;
    }
      .skills-prev-button {
        border-right:20px solid #e49a22; 
        margin-right: 20px;
    }
    
    /* 576px */
    @media (min-width: 576px) {
    .skills-slider-nav,
    .skills-next-button,
    .skills-prev-button {
        display: none;
    }
    .skills-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;        
    }
    .skills-items section {
        display: block;
        width: 160px;
    }
    }
    