body {
    font-family: 'Roboto', sans-serif;
}
.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 500px;
    margin: 20px auto;
}
.infoPanel{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 500px;
    margin-right: 10px;    
    outline: 1px solid black;
}
.timerContainer, .scoreContainer, .lostEggsContainer {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 80px;
    margin: 5px auto;
    outline: 1px solid black;
}

.timerText, .timerValue, .scoreText, .scoreValue, .lostEggsText, .lostEggsValue {
    width: 120px;
    height: 40px;
}
.timerText, .scoreText, .lostEggsText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.timerContainer {
    margin-top: 10px;
}
.boardContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    outline: 1px solid black;
}
.eggsContainer {
    position: relative;
    height:20px;
}
.playField {
    height: 100px;
    flex-grow: 1;
}
.egg {
position: absolute;
width: 10px;
height: 20px;
background: black;
}
.yellowEgg {
background: yellow;
}
.greenEgg {
background: green;
}
.redEgg {
background: red;
}
.superEgg {
    background: blue;
}

.basketContainer {
    position: relative;
    height: 20px;
}
.basket {
    position: absolute;
    height: 20px;
    width: 50px;
    left: 225px;
    outline: 1px solid black;
}