body {
    font-family: 'Roboto', sans-serif;
}

/* GAME BOARD & INFO PANEL*/
.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 500px;
    margin: 20px auto;
}
.infoPanel{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 500px;
    margin-right: 10px;    
    outline: 1px solid black;
}
.timerContainer, .scoreContainer, .lostEggsContainer {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 80px;
    margin: 5px auto;
    outline: 1px solid black;
}
.timerText, .timerValue, .scoreText, .scoreValue, .lostEggsText, .lostEggsValue {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.timerValue, .scoreValue, .lostEggsValue {
    font-size: 30px;
}
.timerContainer {
    margin-top: 10px;
}
.superEggContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 80px;
    margin: 5px auto;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    outline: 1px solid black;
    text-align: center;
}
.boardContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    outline: 1px solid black;
}
.eggsContainer {
    position: relative;
    height:20px;
}
.playField {
    height: 100px;
    flex-grow: 1;
}

/* EGGS & BASKET*/
.egg {
position: absolute;
width: 10px;
height: 20px;
background: black;
}
.yellowEgg {
background: yellow;
}
.greenEgg {
background: green;
}
.redEgg {
background: red;
}
.superEgg {
background: blue;
}
.basketContainer {
    position: relative;
    height: 25px;
    overflow: hidden;
}
.basket {
    position: absolute;
    height: 20px;
    width: 50px;
    top: 5px;
    left: 225px;
    outline: 1px solid black;
}
.wideBasket {
    width: 100px;
}

/* START & PAUSE & END SCREENS*/
.start {
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 500px;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.85);
    left: 0; top: 0; right: 0; bottom: 0;
}
button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    width: 120px;
    /* padding: 0 40px; */
    background: salmon;
    border: none;
    cursor: pointer;
  }
  a {
    display: block;
    text-decoration: none;
    color: black;
  }
  button:hover {
    background: lightsalmon;
  }